* {
  box-sizing: border-box;
}

#grid-container {
  min-height: 95vh;
  border: 3px solid #000000;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

.grid-cell {
  flex: 1;
  background-color: #D5C9BA;
  border: 1px solid #000000;
}

.hovered {
  background-color: #000000;
}