* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 5px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Buttons Container */

#buttons-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  flex: 1;
  margin-bottom: 12px;
  padding: 0 12px;
}

/* Color Input */

#color-well {
  margin-left: 20px;
  align-self: center;
}

/* Color Button Container */

#color-button-container {
  display: flex;
}

/* Button */

button {
  min-width: 110px;
  margin: 16px;
  padding: 12px;
  font-size: 20px;
  background-color: #FF868E;
  border: 3px outset #C4515C;
  border-radius: 5px;
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #C4515C;
}

button:active {
  background-color: #922235;
}

.active {
  border: 3px inset #922235;
  background-color: #C4515C;
}

/* Grid Container */

#grid-container {
  min-height: 35rem;
  min-width: 35rem;
  max-width: 50rem;
  border: 3px solid #000000;
  display: flex;
  flex-direction: column;
  flex: 1 0 0%;
}

.row {
  display: flex;
  flex: 1;
}

/* Grid Cells */

.grid-cell {
  flex: 1;
  background-color: #FDE5EB;
  border: 1px solid #E5C2CB;
}

.hovered {
  background-color: #000000;
  border: 1px solid #000000;
}

/* Bottom-Half Container */

#bottom-half-container {
  display: flex;
  padding: 20px;
}

/* Left Buttons Container */

#left-buttons-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

/* Canvas Color Button Container */

#canvas-color-button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex: 0 1 0;
  padding-left: 16px;
}

#canvas-color-button {
  flex: 1;
}

/* Toggle Borders Button */

#toggle-borders-button {
  flex: 0;
}

/* Grid */

#grid {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}