* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Button */

button {
  margin: 16px;
  padding: 12px;
  font-size: 20px;
  background-color: #FF868E;
  border: 3px outset #C4515C;
  border-radius: 5px;
}

button:hover {
  background-color: #C4515C;
}

button:active {
  background-color: #922235;
}

.active {
  border: 3px inset #922235;
  background-color: #C4515C;
}

/* Grid Container */

#grid-container {
  min-width: 95vw;
  min-height: 85vh;
  border: 3px solid #000000;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

/* Grid Cells */

.grid-cell {
  flex: 1;
  background-color: #FDE5EB;
  border: 1px solid #E5C2CB;
}

.hovered {
  background-color: #000000;
  border: 1px solid #000000;
}